html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.wrapper {
    min-height: 100%;
overflow: hidden;
    display: flex;
    flex-direction: column;
}

body {

    font-family: 'Libre Franklin', sans-serif;


}

img {
    width: 100%;
    height: auto;
}

header {
    width: 100%;
    margin-top: 13px;


    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);

}

.wrapper_header {
    max-width: 1170px;
    margin: 0 auto;
}

.header_row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.text_logo {
    font-family: 'Pacifico', cursive;

    font-weight: 400;
    font-size: 33px;
    line-height: 40px;

    padding-bottom: 38px;
    color: #000000;
}

.menu_row {
    flex-grow: 1;
    height: 38px;
}

.menu_row ul {

    list-style: none;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;


}

.menu_row li {
    display: inline;
    padding-right: 40px;
}


.menu_row a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2px;


    color: #6C6C6C;






}

.menu_row a:focus {
    color: #AC1313;


}


.cart {
    height: 38px;



}

.cart ul {
    list-style: none;
    border-left: 1px solid #EBEBEB;
    padding-left: 61px;


}

.cart ul li {
    background: url(../img/cart.svg) left no-repeat;
    display: inline;
    padding: 0 0 0 25px;
}

.cart ul li a {
    text-decoration: none;
    font-family: 'Libre Franklin', sans-serif;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    /* identical to box height, or 143% */
    text-align: center;

    color: #000000;




}

.intro {

    background: url(../img/bg_into.png) no-repeat top;
    background-size: cover;
    height: 100vh;

}

.intro_wrapper {
    max-width: 1152px;
    margin: 0 auto;

}

.intro_block {
    display: flex;
    padding-top: 95px;



}

.pottery {
    margin-top: 97px;

}

.pottery_desc_top {

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;

    /* identical to box height, or 171% */

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #D77474;


}

.pompeo_title {

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;


    color: #000000;
}

.img_intro {
    margin-top: 33px;
}

.i_intro {
    display: inline;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 68px;

    /* identical to box height, or 100% */

    color: #AC1313;


}

.text_pottery {

    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 14px;
    /* identical to box height, or 162% */

    color: #6C6C6C;
}

.btn_collection {
    margin-top: 70px;
    width: 201px;
    background: #AC1313;
    border-radius: 0px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 21px;
    padding-right: 31px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.product {
    position: relative;
    height: auto;

}

.hand_craft {
    position: absolute;
    display: block;
margin-left: 76px;
    left: 0;
    top:291px;
    bottom: 0;  
    height: 100%;
    writing-mode: vertical-lr;
    display: flex;



}

.rotate {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;

    /* identical to box height, or 189% */
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #DBDBDB;

    transform: rotate(180deg);
}

.wrapper_product {
    max-width: 1200px;
    margin: 0 auto;
    padding-top:120px ;
}

.categories {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;

    /* identical to box height, or 171% */
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #D77474;


}

.title_categories {


    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    /* identical to box height, or 125% */
    text-align: center;

    color: #000000;
}

.i_categories {
    display: inline;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 68px;

    /* identical to box height, or 100% */
    text-align: center;

    color: #AC1313;


}

.wrapper_categories_img {
    max-width: 97.67%;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top:64px ;

}

.vases {
    display: flex;
    height: 240px;
    width: 240px;
    background: #E4B366;
    border: 30px solid rgba(0, 0, 0, 0.05);
    border-radius: 240px;
    flex-direction: column;
    align-items: center;
    padding-top: 46px;
    justify-content: center;


}
.mugs{
    display: flex;
    height: 240px;
    width: 240px;
    background: #F05B10;
    border: 30px solid rgba(0, 0, 0, 0.05);
    border-radius: 240px;
    flex-direction: column;
    align-items: center;
    padding-top: 46px;

} 
.Plates{
    display: flex;
    height: 240px;
    width: 240px;
    background: #A21010;
    border: 30px solid rgba(0, 0, 0, 0.05);
    border-radius: 240px;
    flex-direction: column;
    align-items: center;
    padding-top: 46px;
}
.categor_desc{
    padding-bottom: 57px;
    
font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 38px;

/* identical to box height, or 271% */

letter-spacing: 2px;
text-transform: uppercase;

color: #FFFFFF;

}
.wrapper_product img {
    width: 70px;
    height: 70px;


}
.wrapper_history{
   max-width: 1172px;
    display: flex;

    margin: 0 auto;
    margin-top: 88px;
}
.block_1990{
margin-right: 134px;

}
.title_history{
    
font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 29px;
line-height: 36px;

/* identical to box height, or 124% */

color: #000000;



}
.block_1990{
    max-width: 42% ; 
}
.provide{
    max-width: 42% ; 
}
.text_history{

    font-family: 'Libre Franklin',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

/* or 171% */
margin-top: 23px;
color: #6C6C6C;
margin-bottom: 152px; ;


}
@media only screen and (max-width:1200px) {
    .intro {
        background: url(../img/bg_into_1200px.png) no-repeat;
        height: 509px;
    }

    .intro_block {
        display: flex;
        padding-top: 50px;
    }
    .hand_craft {
        position: absolute;
        display: block;
        margin-left: 0;
        left: 0;
        top: 291px;
        bottom: 0;
        height: 100%;
        writing-mode: vertical-lr;
        display: flex;
    }


    .pompeo_title {

        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        color: #000000;

    }

    .text_pottery {
        font-family: 'Libre Franklin', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        margin-top: 14px;
        color: #6C6C6C;

    }

    .btn_collection {
        margin-top: 20px;

    }
}

@media only screen and (max-width:768px) {
    .intro {
        background: url(../img/bg_into_768px.png) no-repeat;
        height: 100%;
    }

    .intro_block {
        display: flex;
        padding-top: 0px;
    }

    .pottery {
        margin-top: 40px;
    }

    .hand_craft {
        position: absolute;
        visibility: hidden;
        display: none;
        margin-left: 0;
        left: 0;
        top: 291px;
        bottom: 0;
        height: 100%;
        writing-mode: vertical-lr;
        display: flex;
    }
    .pompeo_title {

        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 58px;
        color: #000000;

    }

    .text_pottery {
        font-family: 'Libre Franklin', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 26px;
        margin-top: 14px;
        color: #6C6C6C;

    }

    .btn_collection {
        margin-top: 20px;

    }
}